<app-global-loader />
<div *ngIf="post.postId" class="row mt-4">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <div class="media flex-wrap w-100 align-items-center">
                    <img attr.src={{setProfileImage(post)}} style="width:80px; height:80px;"
                        class="d-block ui-w-40 rounded-circle" alt="">
                    <div class="media-body ml-3">
                        <h6 class="author-username" (click)="navigateTo('users',post)">{{post.userUserName}}</h6>
                        <div class="datetime text-muted small">
                            {{checkIfEdited(post)}}
                        </div>
                    </div>
                    <div class="text-muted small ml-3">
                        <div>
                            <span (click)="vote(post,true)">
                                <i class="fa fa-angle-up"
                                    [ngStyle]="post.isVoted && post.isUpVote  ? {'color': '#00c200'} : null"></i>
                            </span>
                        </div>
                        <div id="votes-count">{{post.votesCount}}</div>
                        <div>
                            <span (click)="vote(post,false)">
                                <i class="fa fa-angle-down"
                                    [ngStyle]="post.isVoted && !post.isUpVote  ? {'color': 'red'} : null"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body post-body">
                <div class="post-images">
                    <carousel>
                        <slide *ngFor="let image of post.images">
                            <img attr.src="data:image/JPEG;base64,{{image.imageUrl}}"
                                style="display: block; width: 100%;">
                        </slide>
                    </carousel>
                </div>
                <div class="post-content">
                    {{post.content}}
                </div>
            </div>
            <div class="card-footer">
                <span class="card-link m-2 pr-3" (click)="addToFavourite(post)">
                    <i class="fa-solid fa-heart"  [ngStyle]="post.isFavourite  ? {'color': 'red'} : null"></i>
                    <span class="favorites-count ml-2"> {{post.favoritesCount}}</span>
                </span>
                <span class="card-link m-2 pr-3">
                    <i class="fa fa-comment"></i>
                    <span class="comment pl-2"> Comments</span>
                </span>
            </div>
        </div>
    </div>
</div>