<div class="card-body p-4" *ngFor="let postComment of postComments">
    <div class="d-flex flex-start">
        <img class="rounded-circle shadow-1-strong me-3" [src]="setProfileImage(postComment)" alt="avatar"
            width="40" height="40">
        <div>
            <h6 class="fw-bold mb-1">{{postComment.userUserName}}</h6>
            <span class="mb-0">
                {{postComment.content}}
            </span>
            <div class="d-flex align-items-center mb-3">
                <p class="date mb-0">
                    {{checkIfEdited(postComment)}}
                </p>
                <i class="fa-solid fa-reply ml-2" (click)="reply(postComment)"></i>
                <i class="fa-solid fa-pen ml-2"></i>
                <i class="fa-solid fa-heart ml-2"></i>
            </div>
        </div>
    </div>
    <div class="ml-2" *ngIf="postComment.children">
        <app-comment-card [postComments]="postComment.children" />
    </div>
</div>