<div class="modal fade" id="users-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" (click)="cleanUsersCollections()" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-global-loader />
            <div *ngFor="let user of userFollowers" class="modal-body">
                <div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.userUserName}}</h5>
                        <p class="card-text">{{user.userEmail}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>