<app-global-loader />
<div *ngIf="posts.length">
    <div *ngFor="let post of posts" class="row mt-4">
        <div class="post col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="../../../assets/images/default-profile-image.png" style="width:80px; height:80px;"
                            class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <h6 class="author-username" (click)="navigateTo('users',post)">{{post.userUserName}}</h6>
                            <div class="datetime text-muted small">
                                {{checkIfEdited(post)}}
                            </div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>
                                <span>
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                            <div id="votes-count">{{post.votesCount}}</div>
                            <div>
                                <span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <div id="{{post.postId}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div *ngFor="let image of post.images">
                                    <img class="d-block w-100" attr.src="data:image/JPEG;base64,{{image.imageUrl}}"
                                        alt="{{image.id}}">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" routerLink="#{{post.postId}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" routerLink="#{{post.postId}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div> -->
                    {{post.content}}
                </div>
                <div class="card-footer">
                    <span class="card-link m-2 pr-3">
                        <i class="fa-solid fa-heart"></i>
                        <span class="favorites-count ml-2"> {{post.favoritesCount}}</span>
                    </span>
                    <span class="card-link m-2 pr-3">
                        <i class="fa fa-comment"></i>
                        <span class="comment pl-2"> Comments</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>