<app-global-loader />
<div *ngIf="posts.length">
    <div *ngFor="let post of posts" class="row mt-4">
        <div class="post col-sm-6">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="../../../assets/images/default-profile-image.png" style="width:80px; height:80px;"
                            class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <h6 class="author-username" (click)="navigateTo('users',post)">{{post.userUserName}}</h6>
                            <div class="datetime text-muted small">
                                {{checkIfEdited(post)}}
                            </div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>
                                <span>
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                            <div id="votes-count">{{post.votesCount}}</div>
                            <div>
                                <span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body post-body">
                    <div class="post-images">
                        <carousel>
                            <slide *ngFor="let image of post.images">
                                <img attr.src="data:image/JPEG;base64,{{image.imageUrl}}"
                                    style="display: block; width: 100%;">
                            </slide>
                        </carousel>
                    </div>
                    <div class="post-content">
                        {{post.content}}
                    </div>
                </div>
                <div class="card-footer">
                    <span class="card-link ml-2">
                        <i class="fa-solid fa-heart"></i>
                        <span class="favorites-count ml-2"> {{post.favoritesCount}}</span>
                    </span>
                    <span class="card-link ml-4">
                        <i class="fa fa-comment"></i>
                        <span class="comment pl-2"> Comments</span>
                    </span>
                    <span class="card-link dropdown">
                        <i class="fa-solid fa-ellipsis " data-toggle="dropdown"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/posts/{{post.postId}}">Open post</a>
                          </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>