<form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
    <div class="form-group">
        <label for="user-email">Email address</label>
        <input
            class="form-control {{addformErrorBorder(inputEmail.touched || false, inputEmail.errors || undefined)}}"
            type="email" 
            name="email" 
            id="user-email" 
            placeholder="john.doe@gmail.com"
            ngModel
            #inputEmail="ngModel"
            required
            [appEmail]="emailDomains"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <ng-container *ngIf="inputEmail.touched">
            <p class="error-message" *ngIf="inputEmail.errors?.['required']">Email is required.</p>
            <p class="error-message" *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid.</p>
        </ng-container>
    </div>
    <div class="form-group">
        <label for="user-passoword">Password</label>
        <input 
            class="form-control {{addformErrorBorder(inputPassword.touched || false, inputPassword.errors || undefined)}}" 
            type="password" 
            name="password"
            id="user-passoword" 
            placeholder="******"
            ngModel
            #inputPassword="ngModel"
            required
            [appPassword]="inputPassword.value"
        />
        <ng-container *ngIf="inputPassword.touched">
            <p class="error-message" *ngIf="inputPassword.errors?.['required']">Password is required.</p>
            <div *ngIf="inputPassword.errors?.['passwordValidator']">
                <span class="error-message">Password should have:</span>
                <ul>
                    <li class="error-message">At least one upper case English letter.</li>
                    <li class="error-message">At least one lower case English letter.</li>
                    <li class="error-message">At least one digit.</li>
                    <li class="error-message">At least one special character.</li>
                    <li class="error-message">Minimum size of 8 characters.</li>
                </ul>
            </div>
        </ng-container>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button  class="btn btn-primary" [disabled]="form.invalid">Login</button>
</form>