<div class="card mb-4">
    <div class="bg-white mt-2">
        <div>
            <div class="d-flex flex-row justify-content-between align-items-center p-2">
                <div class="d-flex flex-row align-items-center feed-text px-2"><img attr.src={{setProfileImage(post)}}
                        style="width:50px;" class="d-block ui-w-40 rounded-circle" alt="">
                    <div class="d-flex flex-column flex-wrap ml-2">
                        <span class="author-username font-weight-bold"
                            (click)="navigateTo('users',post)">{{post.userUserName}}</span>
                        <span class="datetime">{{checkIfEdited(post)}}</span>
                    </div>
                </div>
                <div class="feed-icon px-2">
                    <span class="card-link dropdown">
                        <i class="fa-solid fa-ellipsis " data-toggle="dropdown"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/posts/{{post.postId}}">Open post</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="post-images">
            <carousel>
                <slide *ngFor="let image of post.images">
                    <img attr.src="data:image/JPEG;base64,{{image.imageUrl}}" style="display: block; width: 100%;">
                </slide>
            </carousel>
        </div>
        <div class="post-content">
            <span id="short-content {{post.postId}}">
                {{shortContent(post.content)}}
            </span>
            <span id="whole-content {{post.postId}}" style="display:none">{{post.content}}</span>
            <span class="read-more" id="read-more {{post.postId}}" *ngIf="isLargePostContent(post.content)" (click)="readMore(post.postId)">Read More</span>
        </div>
        <div class="card-footer bg-white">
            <span class="card-link mt-1 ml-2" (click)="addToFavourite(post)">
                <i class="fa-solid fa-heart" [ngStyle]="post.isFavourite  ? {'color': 'red'} : null"></i>
                <span class="favorites-count ml-2"> {{post.favoritesCount}}</span>
            </span>
            <span class="card-link mt-1 ml-4">
                <i class="fa fa-comment"></i>
                <span class="comment pl-2">0</span>
            </span>
            <div class="dropdown">
                <span (click)="vote(post,true)">
                    <i class="fa fa-angle-up"
                        [ngStyle]="post.isVoted && post.isUpVote  ? {'color': '#00c200'} : null"></i>
                </span>
                <span id="votes-count">{{post.votesCount}}</span>
                <span (click)="vote(post,false)">
                    <i class="fa fa-angle-down"
                        [ngStyle]="post.isVoted && !post.isUpVote  ? {'color': 'red'} : null"></i>
                </span>
            </div>
        </div>
    </div>
</div>