.fa-angle-up,
.fa-angle-down,
#votes-count {
    padding-right: 5px;
    font-size: 25px;
}

.author-username:hover,
.read-more:hover {
    cursor: pointer;
    color: #007bff;
}

.fa-angle-up:hover {
    color: #00c200;
    cursor: pointer;
}

.fa-angle-down:hover {
    color: red;
    cursor: pointer;
}

.fa-heart,
.fa-comment,
.fa-ellipsis {
    font-size: 25px;
}

.fa-heart:hover {
    color: red;
}

.fa-comment:hover {
    color: #007bff;
}

.fa-heart:hover,
.fa-comment:hover {
    cursor: pointer;
}

.favorites-count,
.comment {
    font-size: 16px;
}

.post {
    margin: auto;
}

.post-body {
    padding: 0px 0px 0px 0px;
}

.post-content {
    padding: 10px
}

.fa-ellipsis:hover {
    cursor: pointer;
}

.card-footer {
    display: flex;
}

.dropdown {
    margin-left: auto;
    order: 1;
}
.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}

.feed-image img {
    width: 100%;
    height: auto
}