.fa-search,
a {
    cursor: pointer;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    width: 100%;   
    list-style: none;
    background-color: #ffffff;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
}

.autocomplete-items {
    list-style: none;
    width: 100%;
}

.autocomplete-items:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
} 


.searchInputWrapper {
    position: relative;
}

.user-followers{
    width:40%;
    display: inline-block;
}

.searchInput {
    width: 25rem;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 2rem;
    border: 1px solid #dbdbdb;
    background-color: whute;
    transition: transform 0.1s ease-in-out;
}

::placeholder {
    color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
    text-indent: -999px
}

.searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
}

.container:focus-within >
.searchInputWrapper > .searchInputIcon {
    right: 0.2rem;
}

.searchInputIcon {
    border: none;
    padding: 0;
    background: none;
}